.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding-left: 48px;
  opacity: 1;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: opacity .5s;
}
